---
const { article } = Astro.params;
import Layout from "../../layouts/Layout.astro";
import { Category, getFeed } from "../api/feed";
const page = Astro.url.searchParams.get("page");
const category = Object.keys(Category)[
    Object.values(Category).indexOf(
        Astro.url.searchParams.get("category") as unknown as Category,
    )
] as Category;

let art;
function loadArticles(articles) {
    articles.map((a) => {
        if (a.link.split("/")[3] == article) {
            art = a;
        }
    });
}

if (!page) {
    for (let index = 1; index < 3; index++) {
        loadArticles(await getFeed(Category.Zadna, index));
        if (art) break;
    }
    if (!art)
        return new Response(
            "Nenalezeno na posledních 3 stránkách. Pokud si chcete tento archivní článek vychutnat u nás, odkaz musí mít parametr page=číslo a category=kategorie pro specifikaci stránky. Pokud Vám ho někdo poslal tak mu napište ať ho pošle celý, jaký ho má ve vyhledávači. Jinak toto můžete zkusit otevřít na gymlitu. <a href='https://www.gymlit.cz/" +
                article +
                "'>https://www.gymlit.cz/" +
                article +
                "</a>",
            {
                status: 400,
                headers: { "Content-Type": "text/html;charset=utf-8" },
            },
        );
} else {
    const pInt = parseInt(page);

    if (!pInt) {
        return new Response("Špatný request, page není číslo", 400);
    }
    loadArticles(await getFeed(category, pInt));
    if (!art) {
        return new Response("Nenalezeno na stránce č. " + pInt, 404);
    }
}

let noShout = false;
let noShoutTitle: string;
if (art.title.toUpperCase() == art.title) {
    noShout = true;
    noShoutTitle =
        art.title.charAt(0).toUpperCase() +
        art.title.substring(1).toLocaleLowerCase();
}
---

<Layout title={noShout ? noShoutTitle : art.title} noShout={noShout}>
    <main class="container">
    </main>
    <h3>
        Kategorie: <a
            href={"/" +
                (art.category.length?art.category[0]:art.category)
                    .toLowerCase()
                    .replace(/ /g, "-")
                    .normalize("NFD")
                    .replace(/[\u0300-\u036f]/g, "")}>{art.category.length?art.category.join(", "):art.category}</a
        >
    </h3>
    <div id="article-body" set:html={art["content:encoded"]} />
</Layout>

<footer>
    <div class="left-foot">
        <a href={art.link} role="button" id="original">Zdroj</a>
    </div>
</footer>

<script is:inline>
    const attributeBlacklist = [
        "style",
        "class",
        "align",
        "width",
        "height",
        "float",
    ];

    const elements = document
            .querySelector("#article-body")
            .querySelectorAll("*");
        for (let index = 0; index < elements.length; index++) {
            const element = elements[index];
            if (
                element.hasAttribute("src") &&
                element.getAttribute("src").includes("emoji")
            ) {
                continue;
            }
            attributeBlacklist.forEach((a) => {
                if (element.hasAttribute(a)) {
                    element.removeAttribute(a);
                }
            });

            if (
                (element.nodeName == "P" || element.nodeName == "SUP") &&
                element.innerHTML.replace(/&nbsp;/g, "").trim().length == 0
            ) {
                element.remove();
            }
        }
</script>

<style is:inline>
    img {
        margin: 1em;
    }

    a {
        word-wrap: break-word;
    }
</style>
