---
const { article } = Astro.params;
import Layout from "../../layouts/Layout.astro";
import { Category, getFeed } from "../api/feed";
const page = Astro.url.searchParams.get("page");
const category = Object.keys(Category)[
    Object.values(Category).indexOf(
        Astro.url.searchParams.get("category") as unknown as Category
    )
] as Category;

let art;
function loadArticles(articles) {
    articles.map((a) => {
        if (a.link.split("/")[3] == article) {
            art = a;
        }
    });
}

if (!page) {
    for (let index = 1; index < 3; index++) {
        loadArticles(await getFeed(Category.Zadna, index));
        if (art) break;
    }
    if (!art)
        return new Response(
            "Nenalezeno na posledních 3 stránkách. Pokud si chcete tento archivní článek vychutnat u nás, odkaz musí mít parametr page=číslo a category=kategorie pro specifikaci stránky. Pokud Vám ho někdo poslal tak mu napište ať ho pošle celý, jaký ho má ve vyhledávači. Jinak toto můžete zkusit otevřít na gymlitu. <a href='https://www.gymlit.cz/" +
                article +
                "'>https://www.gymlit.cz/" +
                article +
                "</a>",
            {
                status: 400,
                headers: { "Content-Type": "text/html;charset=utf-8" },
            }
        );
} else {
    const pInt = parseInt(page);

    if (!pInt) {
        return new Response("Špatný request, page není číslo", 400);
    }
    loadArticles(await getFeed(category, pInt));
    if (!art) {
        return new Response("Nenalezeno na stránce č. " + pInt, 404);
    }
}

let noShout = false;
let noShoutTitle: string;
if (art.title.toUpperCase() == art.title) {
    noShout = true;
    noShoutTitle =
        art.title.charAt(0).toUpperCase() +
        art.title.substring(1).toLocaleLowerCase();
}
---

<Layout title={noShout ? noShoutTitle : art.title} noShout={noShout}>
    <main class="container">
        <h3
            >Kategorie: <a
                href={"/" +
                    art.category
                        .toLowerCase()
                        .replace(/ /g, "-")
                        .normalize("NFD")
                        .replace(/[\u0300-\u036f]/g, "")}>{art.category}</a
            >
    </h3>
        <div id="article-body" set:html={art["content:encoded"]} />
    </main>

    <footer>
        <div class="left-foot">
            <a href={art.link} role="button" id="original">O</a>
            <a
                type="button"
                title="Zformátujte text, tak aby byl čitelnější"
                href="javascript:textSimplify()"
                role="button"
                class="secondary"
                id="simplify">F</a>
        </div>
    </footer>
</Layout>

<script is:inline>
    const attributeBlacklist = ["style", "class", "align", "width", "height", "float"]

    function textSimplify() {
        const elements = document.querySelector("#article-body").querySelectorAll("*");
        for (let index = 0; index < elements.length; index++) {
            const element = elements[index];
            attributeBlacklist.forEach((a) => {
                if (element.hasAttribute(a)) {
                    element.removeAttribute(a);
                }
            });

            if (element.innerHTML.replace(/&nbsp;/g,"").trim().length == 0) {
                element.remove();
            }
        }
    }
</script>

<style>

    /*
        Tohohle si moc nevšímejte, jen taková věcička no
    */
    @media (min-width:425px) {
        #original::after {
            content: "riginál";
        }

        #simplify::after {
            content: "ormátovat";
        }
    }

    @media (max-width:280px) {
        .left-foot {
            display: none;
        }
    }

    img {
        margin: 1em;
    }
</style>
