---
import Layout from "../layouts/Layout.astro";
import { Category } from "./api/feed";
import Articles from "../components/Articles.astro";
import Article from "../components/Article.astro";
---

<Layout title="FastGymlit">
	<main>
		<div class="pin">
			<Article author="Jan 맚efan캜a" body="Tyto str치nky moment치ln캩 proch치z칤 redesignem, m콢쬰te si vyzkou코et beta verzi." date="11. 7. 2023" description="Tyto str치nky moment치ln캩 proch치z칤 redesignem, m콢쬰te si vyzkou코et beta verzi." href="" searchParams="../../../beta" title="Vyzkou코ejte si beta verzi"></Article>
		</div>
		<Articles category={Category.Zadna} page={parseInt(Astro.url.searchParams.get("page"))} />
	</main>
</Layout>

<style>
	.pin::before {
		content: "游늷";
	}
	
	.pin {
		padding: 1em;
		border: 1px solid salmon;
		border-radius: 10px;
	}
</style>
