---
import Layout from "../layouts/Layout.astro";
import { Category } from "./api/feed";
import Articles from "../components/Articles.astro";
---

<Layout title="Domov | FastGymlit">
	<main>
		<div class="load"></div>
		<Articles category={Category.Zadna} page={parseInt(Astro.url.searchParams.get("page"))} />
	</main>
</Layout>

<style>

	@media (max-width: 768px) {
		body {
			display: inline;
		}
	}

	.load::before {
		content: "Načítání...";
	}
</style>
