---
import Layout from "../layouts/Layout.astro";
import { Category } from "./api/feed";
import Articles from "../components/Articles.astro";
import Article from "../components/Article.astro";
---

<Layout title="Hlavní strana">
	<main>
		<Articles category={Category.Zadna} page={parseInt(Astro.url.searchParams.get("page"))} />
	</main>
</Layout>

<style>
	.pin::before {
		content: "📌";
	}
	
	.pin {
		padding: 1em;
		border: 1px solid salmon;
		border-radius: 10px;
	}
</style>
