---
import Layout from "../layouts/Layout.astro";
import { Category } from "./api/feed";
import Articles from "../components/Articles.astro";
import Article from "../components/Article.astro";
---

<Layout title="Hlavn칤 strana">
	<main>
		<div class="pin">
			<Article author="Jan 맚efan캜a" body="P콏ed캩lal jsem design str치nek, tak aby byl 캜ist코칤 a hez캜칤. Z치rove켿 se te캞 daj칤 novinky pro캜칤tat rychleji." date="11. 23. 2023" description="P콏ed캩lal jsem design str치nek, tak aby byl 캜ist코칤 a hez캜칤. Z치rove켿 se te캞 daj칤 novinky pro캜칤tat rychleji." href="" searchParams="/../../#" title="Design str치nek p콏ed캩l치n :)"></Article>
		</div>
		<Articles category={Category.Zadna} page={parseInt(Astro.url.searchParams.get("page"))} />
	</main>
</Layout>

<style>
	.pin::before {
		content: "游늷";
	}
	
	.pin {
		padding: 1em;
		border: 1px solid salmon;
		border-radius: 10px;
	}
</style>
