---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Informace o str치nce">
    <main class="container">
        <div id="clanky">
            <h2><a href="#clanky">Zobrazov치n칤 캜l치nk콢</a></h2>
            <p>
                Pro zobrazov치n칤 캜l치nk콢 vyu쮂셨치m dostupn칳ch RSS (Atom) kan치l콢. Ty
                parsuju a pak vykresluju na str치nku. Pro v코echny z치jemce m콢쬰te
                vyu쮂셦 API endpoint <code>/api/feed</code> s parametry <code
                    >?page=cislo&category=novinky/uspechy-skoly</code
                >, kter칠 jsou dobrovoln칠.
            </p>
            <div id="technickyblbosti">
                <h3><a href="#technickyblbosti">Technick칠 vymo쬰nosti</a></h3>
                <p>Tyto str치nky maj칤 n치sleduj칤c칤 vymo쬰nosti:</p>
                <div id="odhadnutiautora">
                    <h4>
                        <a href="#odhadnutiautora">Odhadnut칤 autora 캜l치nku</a>
                    </h4>
                    <p>
                        Pomoc칤 jednoduch칠ho algoritmu se pokou코칤m odhadnout
                        skute캜n칠ho autora, to je vhodn칠, kdy je 캜l치nek
                        publikovan칳 pod 칰캜tem Administ apod . Toto odhadov치n칤 funguje
                        na principu polohy jm칠na v 캜l치nku a p콏칤tomnosti
                        vysoko코kolsk칠ho titulu. Algoritmus oboduje sv콢j odhad
                        1-3 a pak kdy쬾ak zobraz칤 "skute캜n칠ho autora". Chyby
                        jsou naprosto o캜ek치v치ny.
                    </p>
                </div>
                <div id="capslockfuj">
                    <h4>
                        <a href="#capslockfuj">Nem치m r치d caps lock</a>
                    </h4>
                    <p>
                        Pokud bude titulek napsan칳 CASP LOCKEM, tak se uprav칤
                        tak, aby nebyl. To samoz콏ejm캩 kompletn캩 poru코uje
                        pravidla pravopisu.
                    </p>
                </div>
            </div>
            <script
                media="(prefered-color-scheme: dark)"
                src="https://gist.github.com/PanJohnny/4a1b5fe83583602c953b204d8983e423.js"
                is:inline></script>
            <div id="jidlo">
                <h2><a href="#jidlo">J칤deln칤캜ek</a></h2>
                <p>
                    Strava, co jsem dok치zal zjistit, neposkytuje API. Pro
                    z칤sk치v치n칤 j칤deln칤캜ku tedy vyu쮂셨치m webscraping. J칤deln칤캜ky
                    bez pot콏eby p콏ihl치코en칤 se nal칠zaj칤 na URL: <a
                        href="https://www.strava.cz/strava5/Jidelnicky?zarizeni=0837&Tisk=true"
                        >https://www.strava.cz/strava5/Jidelnicky?zarizeni=0837&Tisk=true</a
                    >.
                </p>
                <p>
                    Tip: 칰pln캩 dole naleznete odhad ceny j칤del. Je to jednodu코e
                    캜치stka pot콏ebn치 k zaplacen칤 v코ech dostupn칳ch j칤del.
                    Vypo캜칤t치m ji tedy <math display="inline"
                        ><mi>po캜et j칤del</mi><mo>췅</mo><mn>50</mn></math
                    >, kde 50 je cena ob캩du.
                </p>
            </div>

            <div id="knihy">
                <h2><a href="#knihy">Knihovna</a></h2>
                <p>
                    Proch치zen칤 코koln칤 knihovny je mo쬹칠 d칤ky RSS kan치lu a to na
                    adrese: <code
                        >https://skola.tritius.cz/library/gymlit/search/rss?q=vyhled치v치n칤</code
                    >.
                </p>
            </div>
        </div>
    </main>
</Layout>

<style>
    :is(h2, h3, h4) > a {
        text-decoration: none;
        color: inherit;
    }

    :is(h2, h3, h4) *::before {
        content: "游댕";
    }
</style>

<style is:inline>
    /* https://github.com/lonekorean/gist-syntax-themes */
    @import url("https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css");

    @media (max-width: 900px) {
        .gist > * {
            display: none;
        }

        .gist::before {
            content: "Obsah nemohl b칳t na캜ten칳 kv콢li velikosti obrazovky. Pokud ho chcete na캜칤st otev콏ete tuto str치nku s v캩t코칤 obrazovkou.";
            color: gray;
            font-family: monospace;
        }
    }
</style>
