---
import { JSDOM } from "jsdom";
import Layout from "../layouts/Layout.astro";

interface Food {
    rows: Row[];
    day: string;
}

interface Row {
    title: string;
    name: string;
}

const dom = await JSDOM.fromURL(
    "https://www.strava.cz/strava5/Jidelnicky?zarizeni=0837&Tisk=true",
);

const doc = dom.window.document;

const objednavky = doc.querySelectorAll(
    "#jidelnicky-obsah > div.jidelnicky.jidelnicky-sekce > div:nth-child(2) > .objednavka",
);
const foods: Food[] = [];

objednavky.forEach((o) => {
    const den = o.querySelector(".den").textContent;
    let rows: Row[] = [];
    o.querySelectorAll(".jidla > .jidlo > .dialog").forEach((row) => {
        rows.push({
            title: row.querySelector(".popis").textContent,
            name: row.querySelector(".nazev").textContent,
        });
    });

    
    // Remove blank fields
    rows = rows.filter((row) => row.name.trim().length != 0);

    // Detect non inputed lunch
    if (rows.filter((row) => row.title == "Oběd č. 1").length == 0) {
        if (rows[0].name.trim().length == 0) return;
        foods.push({
            day: den,
            rows: rows,
        });
    }
});
---

<Layout title="Jídelníček">
    <main class="container">
        {
            foods.map((food) => (
                <article>
                    <h3>{food.day}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th />
                                <th>Název</th>
                            </tr>
                        </thead>
                        {food.rows.map((row) => (
                            <tr>
                                <td>
                                    {row.title.charAt(0).toUpperCase() +
                                        row.title.substring(1)}
                                </td>
                                <td>
                                    {row.name.charAt(0).toUpperCase() +
                                        row.name.substring(1)}
                                </td>
                            </tr>
                        ))}
                    </table>
                </article>
            ))
        }
        <p>
            Odhadovaná cena za dostupné položky: <b>{foods.length * 50}</b> Kč
            <hr />
        </p>
        <p>
            Tento jídelníček byl čerpán z <a
                href="https://www.strava.cz/strava5/Jidelnicky?zarizeni=0837&Tisk=true"
                >https://www.strava.cz/strava5/Jidelnicky?zarizeni=0837&Tisk=true</a
            >
        </p>
    </main>
</Layout>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
