---
import Layout from "../layouts/Layout.astro";
import Articles from "../components/Articles.astro";
import { Category } from "./api/feed";
---

<Layout title="Úspěchy školy">
	<main>
		<div class="articles">
			<Articles category={Category.Uspechy} page={parseInt(Astro.url.searchParams.get("page"))}></Articles>
		</div>
	</main>
</Layout>

<style>
	@media (max-width: 768px) {
		body {
			display: inline;
		}
	}
</style>
