---
import Layout from "../../layouts/Layout.astro";
const experiments = await Astro.glob("./*.astro");
---

<Layout title="Experimenty">
    <main class="container">
        <div class="grid">
            {experiments.map((experiment) => <a href={experiment.url} role="button" class="secondary">{experiment.url}</a>)}
        </div>
    </main>
</Layout>
