---
export interface Props {
	title: string;
	description: string;
	href: string;
	author: string;
	date: string;
	body: string;
	searchParams: string;
}

let { href, title, description, body, author, date, searchParams} = Astro.props;

// translate href
const translatedHref = "/articles/" + href.split("/")[3] + searchParams

const checkFor = [
	"RNDr.",
	"Mgr.",
	"Ing.",
	"Bc.",
	"Doc."
]

let sureLevel:number = 0;
let authorMaybe:string;
for (let i = 0; i < checkFor.length; i++) {
	let str = checkFor[i]
	const lastIndexOf = body.lastIndexOf(str)
	const substring = body.substring(lastIndexOf)
	const before = body.charAt(lastIndexOf > 0?lastIndexOf-1:0)
	if (lastIndexOf < 0)
		continue;
	if (lastIndexOf > body.length/2) {
		sureLevel = 1;
		if (before == ">") 
			sureLevel++;
		const end = substring.indexOf("</");
		if (end < 0)
			continue;
		if (end > 8)
			sureLevel++;
		const name = substring.substring(0, end);
		authorMaybe = name;
		
		break;
	} else if (lastIndexOf > body.length/3) {
		sureLevel = 0;
		if (before == ">") 
			sureLevel++;
			const end = substring.indexOf("</");
		if (end < 0)
			continue;
		if (end > 8)
			sureLevel++;
		const name = substring.substring(0, end);
		authorMaybe = name;
		break;
	}
}

const shouldMaybeShowNewAuthor:boolean = authorMaybe != undefined;
let job:string;
let titleAuthor:string = "ředitelství";
if (authorMaybe && authorMaybe.includes(", ")) {
	job = authorMaybe.split(", ")[1];
	authorMaybe = authorMaybe.split(", ")[0];
}

if (shouldMaybeShowNewAuthor)
	titleAuthor = (job?job:"") + " (úroveň predikce učitele na základě obsahu: " + sureLevel + " ze 3)";

let noShout = false
let noShoutTitle:string;
if (title.toUpperCase() == title) {
	noShout = true
	noShoutTitle = title.charAt(0).toUpperCase() + title.substring(1).toLocaleLowerCase()
}
---

<article>
	<div>
		<h2><a href={translatedHref} title={noShout?"Titulek předělaný, aby učitel nepoužíval jen capslock (může obsahovat chyby)":"Titulek článku"} set:html={noShout ? noShoutTitle : title}></a></h2>
	</div>
	<div class="article-info">
		<span title={titleAuthor}>{shouldMaybeShowNewAuthor ? authorMaybe : author.replace("Administ", "Ředitelství")}</span> <span>{new Date(date).toLocaleDateString("cs-CZ")}</span>
	</div>
	<div class="article-content"><span set:html={description.replace(/[\[&#8230;\]]/g, "")}></span>{description.includes("[&#8230;]") ? (<a href={translatedHref}>...</a>) : ""}</div>
</article>

<style type="scss">
	.article-content {
		margin-bottom: 0px;
	}

	.article-info {
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-direction: row;
		font-weight: 600;
	}

	.article-content > a {
		color: cyan;
		text-decoration: none;
	}
</style>