---
import Icon from "../components/Icon.astro";
import { ViewTransitions } from 'astro:transitions';
export interface Props {
	title: string;
	noShout?: boolean;
}

const { title, noShout } = Astro.props;
---

<!doctype html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title + (title.includes("FastGymlit")?"":" | FastGymlit")}</title>
		<ViewTransitions />
	</head>
	<body>
		<noscript>
			 <dialog open="modal">
				<h2>Ach jo...</h2>
				<b>Tahle stránka používá JavaScript pro některé své funkce. No, vaše rozhodnutí...</b>
				<p>Tenhle modal nezavřete :*)</p>
				<i lang="cs">Prosím povolte JavaScript, žádný data Vám nekradu.</i>
			 </dialog>
		</noscript>
		<header transition:animate="slide">
			<h1
				title={noShout
					? "Titulek předělaný, aby učitel nepoužíval jen capslock (může obsahovat chyby)"
					: "Titulek článku"}
				set:html={title}
			/>
			<nav>
				<Icon
					href="/"
					src="/house.svg"
					title="Hlavní stránka"
					size={2}
				/>
				<Icon
					href="/novinky"
					src="/news.svg"
					title="Novinky"
					size={2}
				/>
				<Icon
					href="/uspechy-skoly"
					src="/graduation_cap.svg"
					title="Úspěchy školy"
					size={2}
				/>
				<Icon
					href="/jidelnicek"
					src="/utensils.svg"
					title="Jídelníček"
					size={2}
				/>
				<Icon
					href="/knihovna"
					src="/book.svg"
					title="Knihovna"
					size={2}
				/>
			</nav>
		</header>
		<slot />
		<footer transition:persist>
			<div class="siteinfo">
				Vytvořil <a href="https://github.com/PanJohnny">Jan Štefanča</a> | <Icon title="Informace" src="/info.svg" href="/info" />
			</div>
		</footer>
	</body>
</html>
<style is:global type="scss">
	code {
		font-family: "Courier New", Courier, monospace;
	}

	body {
		font-family: "Poppins", sans-serif;
	}

	header {
		text-align: center;
	}

	header > * {
		padding-bottom: 0.2em;
		border-bottom: 1px solid var(--font-color);
		margin-right: 0px;
	}

	footer {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	nav {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		flex-direction: row;
	}

	main {
		margin: 1em;
	}

	img {
		max-width: 80vw;
		height: auto;
	}

	noscript > dialog {
		background-color: red;
		z-index: 10;
		top: 50%;
		left: 50%;
		transform: translate(-100%, -50%);
		position: fixed;
	}
</style>
