---
export interface Props {
	title: string;
	noShout?: boolean;
}

const { title, noShout} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="dark">
			<h1 title={noShout?"Titulek předělaný, aby učitel nepoužíval jen capslock (může obsahovat chyby)":"Titulek článku"} set:html={title} />
			<nav>
				<a href="/" id="nav-home" title="Hlavní stránka"
					>Hlavní stránka</a
				>
				<a href="/novinky" id="nav-news" title="Novinky">Novinky</a>
				<a
					href="https://bakalari.gymlit.cz"
					id="nav-baka"
					title="Bakaláři">Bakaláři</a
				>
				<a
					href="https://www.strava.cz/strava5/Jidelnicky?zarizeni=0837&Tisk=true"
					id="nav-food"
					title="Jídelníček">Jídelníček</a
				>
				<a
					href="https://www.youtube.com/@TVGymlitPrague"
					id="nav-tv"
					title="TV Gymlit">TV</a
				>
				<a
					href="https://skola.tritius.cz/library/gymlit"
					id="nav-lib"
					title="Knihovna">Knihovna</a
				>
				<a href="/info" id="nav-info" title="Informace o stránce">Info</a>
			</nav>
		</header>
		<slot />
		<footer>
			<div class="siteinfo">
				Vytvořil <a href="https://github.com/PanJohnny/FastGymlit"
					>Honza ♥</a
				>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--default-font-size: 1.1rem;
		--font-color: rgb(37, 37, 37);
		--background-color: rgb(242, 242, 242);
		--image-icon-filter: none;
	}

	a {
		color: var(--font-color);
		text-decoration-color: orange;
	}

	code {
		font-family: 'Courier New', Courier, monospace;
	}

	body {
		margin: 0px;
		width: 100%;
		height: 100%;
		font-family: "Poppins", sans-serif;
		font-size: var(--default-font-size);
		background-color: var(--background-color);
		color: var(--font-color);
		padding: 0px;
	}

	header {
		margin-top: 0px;
		margin-bottom: 2em;
		width: 100%;
		text-align: center;
		left: 0px;
	}

	header > * {
		padding-bottom: 0.2em;
		border-bottom: 1px solid var(--font-color);
		margin-right: 0px;
	}

	@media (prefers-color-scheme: dark) {
		body {
			--font-color: rgb(242, 242, 242);
			--background-color: rgb(37, 37, 37);
			--image-icon-filter: invert(1);
		}
	}

	nav {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		flex-direction: row;
	}

	nav > a {
		color: var(--font-color);
		text-decoration: none;
		font-size: 1.5em;
	}

	main {
		margin: 1em;
	}

	.gymlitopen {
		position: fixed;
		left: 0.3em;
		bottom: 0.3em;
	}

	.gymlitopen::after {
		content: "Otevřít na www.gymlit.cz";
		color: var(--font-color);
		background-color: rgb(0, 195, 255);
		padding: 0.2em;
		text-decoration: none;
		border-radius: 5px;
		font-weight: bold;
	}

	.siteinfo {
		position: fixed;
		bottom: 0.3em;
		right: 0em;
		padding: 0.2em;
		padding-right: 0.3em;
		font-size: larger;
		background-color: var(--background-color);
		border: solid var(--font-color) 1px;
		border-radius: 2px;
	}

	nav > a::before {
		content: "";
		font-size: initial;
		display: inline-block;
		width: var(--default-font-size);
		height: var(--default-font-size);
		background: no-repeat;
		filter: var(--image-icon-filter);
	}

	@media (max-width: 900px) {
		nav > a {
			font-size: 0px;
		}

		nav > a::before {
			width: 2em;
			height: 2em;
		}

		body {
			width: fit-content;
			height: fit-content;
		}
	}

	#nav-home::before {
		background-image: url("/icons/house.svg");
	}

	#nav-news::before {
		background-image: url("/icons/news.svg");
	}

	#nav-baka::before {
		background-image: url("/icons/graduation_cap.svg");
	}

	#nav-food::before {
		background-image: url("/icons/utensils.svg");
	}

	#nav-tv::before {
		background-image: url("/icons/camera.svg");
	}

	#nav-lib::before {
		background-image: url("/icons/book.svg");
	}

	#nav-info::before {
		background-image: url("/icons/info.svg");
	}

	@media (min-width: 1500px) {
		header {
			width: 100%;
		}

		body {
			width: 100%;
			margin-right: 0px;
			font-size: 130%;
			--default-font-size: 1.3rem;
		}
	}

	@media (max-width: 400px) {
		.gymlitopen::after {
			content: "www.gymlit.cz";
		}
	}

	img {
		max-width: 80vw;
		height: auto;
	}
</style>
